
.wrap-fff{
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}
.a{
  color: @theme-color;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  white-space: nowrap;
  text-align: right;
}
.top {
  padding: 60px 0 43px;
  text-align: center;
}
.top-title{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 10px;
  color: @theme-color;
}
.icon {
  display: inline-block;
  width: 39px;
  height: 39px;
  background-size: contain;
}
.icon-users {
  background-image: url('../assets/icon-user.png');
  vertical-align: middle;
}
.login-input {
  position: relative;
  margin: 0 auto;
  width: 75%;
  border: 1px solid #dadada;
  background: #fff;
  border-radius: 50px;
  margin-bottom: 20px;
}
.login-input.err{
  border-color: #f00;
}
.login-input .iconfont {
  color: @theme-color;
  margin: 0 20px;
  vertical-align: middle;
}
.login-input input {
  display: inline-block;
  width: 70%;
  height: 33px;
}
.login-input .vcode-input,.login-input .a{
  width: 35%;
}
.wrap{
  padding: 10px 0;
}
.title {
  font-size: 18px;
}
.p {
  font-size: 14px;
  text-align: left;
  padding: 10px 20px;
}
.btn-foot {
  color: #7dc3ff;
  border-top: 1px solid #ddd;
  padding-top: 5px;
}
.sms-login {
  position: relative;
  width: 75%;
  margin: 45px auto 0;
}
.sms-login:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  height: 1px;
  background: #b2b2b2;
  width: 100%;
}
.kksu {
  color: #b2b2b2;
  width: 40%;
  margin: 0 auto 18px;
  background: #eee;
  position: relative;
}
.xd-close{
  position: absolute;
  top: .5em;
  right: .5em;
}
.weui-dialog .btn-main {
  width: 65%;
}
.img-upload {
  position: relative;
  margin: 20px;
  border: 1px solid #eee;
  img{
    width: 100%;
  }
  input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
.btn-main.outline{
  border: 1px solid @theme-color;
  background: #fff;
  color: @theme-color;
}
.pt20{
  padding-top: 20px;
}
.pb20{
  padding-bottom: 20px;
}