.theme-color-header {
  .vux-header {
    border-bottom: none;
    background-color: transparent;
    .vux-header-left {
      .left-arrow:before{
        border-color: #fff;
      }
      a{
        color: #fff;
      }
    }
    .vux-header-right{
      color: #fff;
    }
    .vux-header-title{
      color: #fff;
    }
  }
}
.dheader{
  background: #fff;
}
.theme-color-header.dheader{
  background: transparent;
}
.win-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
}
.vux-header{
  border-bottom: 1px #eee solid;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
html, body{
  -webkit-touch-callout:none;
  -webkit-text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-user-select:none;
  font-size: 13px;
}
.copyable{
  -webkit-user-select: text;
}
button{
  border: none;
}
input,button,select,textarea{outline:none}
input:disabled {
  background-color: transparent;
}
body {
  background-color: #eee;
  color: #545454;
}
img {
  max-width: 100%;
}
input{
  border: none;
  font-size: 14px;
}
.flex{
  display: flex;
}
.btn-outline{
  border: 1px solid @theme-color;
  border-radius: 50px;
  display: inline-block;
  color: @theme-color;
  padding: 2px 15px;
}
.btn-outline.orange{
  border: 1px solid @main-color;
  color: @main-color;
}
.white{
  color: #fff;
}
.btn-main {
  text-align: center;
  background: @theme-color;
  color: #fff;
  font-size: 15px;
  width: 45%;
  margin: 16px auto;
  border-radius: 30px;
  padding: 5px 0;
  // box-shadow: 2px 2px 8px @theme-color;
}
.bottom-tip {
  position: absolute;
  bottom: 37px;
  left: 50%;
  transform: translateX(-50%);
}
.btn-main.btn-disable, .btn-full.btn-disable {
  background: #cecece;
  box-shadow: 2px 2px 8px #c7c7c7;
}
.flex.space-between{
  justify-content: space-between;
}
.flex-center{
  align-items: center;
}
.flex-baseline{
  align-items: baseline;
}
.text-right{
  text-align: right;
}
[class^=flex]{
  min-width: 0;
}
.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.flex-5{
  flex: 5;
}
#app .weui-tabbar{
  position: fixed;
}
.btn-sm {
  background: @main-color;
  color: #fff;
  font-size: 13px;
  padding: 5px 8px;
  text-align: center;
}
.group {
  margin-bottom: 8px;
  background: #fff;
}
.bb{
  border-bottom: 1px solid #eee;
}
.theme-bg, .btn-full.theme-bg{
  background: @theme-color;
}
.main-bg{
  background: @main-color;
}
.main-shadow{
  background: @main-color;
  // box-shadow: 2px 2px 8px @main-color;
}
.fff-bg{
  background: #fff;
}
.main-color{
  color: @main-color;
}
.theme-color,a.theme-color{
  color: @theme-color;
}
.theme-bg, .dheader.theme-bg{
  background: @theme-color;
}
.cell {
  padding: 5px 18px;
}
.center{
  text-align: center;
}
.gray{
  color: #b2b2b2;
}
.black{
  color: #545454;
}
.btn-full {
  width: 100%;
  background: @main-color;
  color: #fff;
  text-align: center;
  line-height: 3;
  font-size: 18px;
  position: fixed;
  bottom: 0;
}
.btn-full.theme-color{
  background: @theme-color;
}
.fixed-bottom{
  padding-bottom: 50px;
  box-sizing: border-box;
}
.home-item {
  background: rgba(255,255,255,.8);
  border-radius: 5px;
  margin: 18px 0;
  padding: 16px;
  box-shadow: 0 0 15px #dcdcdc;
}
.small{
  font-size: 12px;
}
.fz20{
  font-size: 20px;
}
.fz17{
  font-size: 17px;
}
.fz16{
  font-size: 16px;
}
.fz15{
  font-size: 15px;
}
.fz14{
  font-size: 14px;
}
.fz13{
  font-size: 13px;
}
.fz12{
  font-size: 12px;
}
.row-gap{
  margin: 10px 0;
}
.orange{
  color: @orange-color;
}
.h1{
  padding: 0 0 8px 18px;
  color: #545454;
  font-weight: 600;
  font-size: 12px;
}
.float-right{
  float: right;
}
.feature-item{
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
.bg-fff{
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #fff;
}
.bg-eee{
  background: #eee;
}
.list{
  .list-item{
    font-size: 13px;
    background: #fff;
    line-height: 1.6;
    margin-bottom: 8px;
    .list-padding{
      padding: 15px 25px;
    }
    .list-padding2{
      padding: 5px 25px;
      border-top: 1px solid #eee;
    }
  }
}
.btn-color{
  background: #c4d9ff;
  color: @theme-color;
  width: 6em;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.btn-color.color-success{
  background: #e6f8dc;
  color: #98b189;
}
.btn-color.color-error{
  background: #fce6e6;
  color: #9d7f7f;
}
.btn-color.color-disable{
  background: #f0f0f0;
  color: #acacac;
}
.detail{
  padding: 40px 23px 0;
  position: relative;
  .detail-top {
    background: @theme-color;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 16px;
    padding: 17px 23px;
  }
  .detail-title{
    background: rgba(255,255,255,.3);
    padding: 10px;
    border-radius: 5px;
  }
}
.detail-box{
  padding-top: 20px;
}
.box{
  box-shadow: 0 5px 15px #dcdcdc;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  background: #fff;
}
.round-text {
  background: #000;
  color: #fff;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  font-size: 20px;
}
.mint{
  color: @mint-color;
}
.btn-inline{
  background: @main-color;
  display: inline-block;
  color: #fff;
  border-radius: 50px;
  padding: 2px 15px;
  font-size: 13px;
}

.record-income {
  .round-text{
    background: @main-color;
  }
  .cost-color{
    color: @orange-color;
  }
  .cost-num::before{
    content: '+';
  }
  .round-text::before{
    content: '收';
  }
}
.record-outcome {
  .round-text{
    background: @mint-color;
  }
  .cost-color{
    color: @theme-color;
  }
  .cost-num::before{
    content: '-';
  }
  .round-text::before{
    content: '支';
  }
}
.price{
  display: inline-block;
  color: @theme-color;
  font-size: 20px;
}
.price:before{
  content: '￥';
  font-size: 12px;
}
.weui-cell{
  padding: 12px 15px;
  font-size: 15px;
}
.vux-swiper-desc{
  display: none;
}
.page--register{
  .vux-check-icon > span{
    font-size: 12px;
    color: #545454;
  }
  .weui-icon-circle,.weui-icon-success-circle{
    font-size: 18px;
  }
}
#app .weui-cells{
  font-size: 15px;
  margin-top: 8px;
}
.inline-block{
  display: inline-block;
}
.page-content{
  padding: 16px 0;
  background: #fff;
  img{
    display: block;
  }
}
.page--result{
  font-size: 15px;
}
.row-gap .gray{
  display: inline-block;
  margin-right: 10px;
}
.empty-list{
  text-align: center;
  padding-top: 80px;
}
.empty-list img{
  width: 90px;
  display: inline-block;
  margin-bottom: 20px;
}
.popover-content{
  padding: 12px;
  font-size: 12px;
  border: 1px solid #eee;
}
.w100p{
  width: 100%;
}
.word-break{
  word-break: break-all;
}
.wave-top{
  background: url('../assets/w-bg.png');
  background-size: 100% 90%;
  background-repeat: no-repeat;
}
.wave-top-tran{
  height: 150px;
  background: rgba(255, 255, 255, .8);
  margin: 12px;
  box-shadow: 0 5px 15px #dcdcdc;
  border-radius: 5px;
  padding: 30px;
  box-sizing: border-box;
}
.fz25{
  font-size: 25px;
}
.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
}

.page--messages .vux-tab{
  background: transparent;
  height: 40px;
}
.page--messages .vux-tab .vux-tab-item{
  background: none;
}

.vux-checker-item.checker-item{
  display: block;
  .iconfont{
    color: #eee;
  }
}
.checker-box{
  background: #fff;
  padding: 10px 15px;
  font-size: 14px;
}
.vux-checker-item.checker-on .iconfont{
  color: @theme-color;
}
.col2{
  border-left: 1px solid #eee;
  padding-left: 15px;
}
.p0-10{
  padding: 0 10px;
}